---

- name: "Include OS-specific variables"
  include_vars: "{{ ansible_os_family }}-{{ ansible_distribution_major_version }}.yml"
  tags: ["cjdns", "cjdns-install", "cjdns-configure", "cjdns-service"]

- name: Install cjdns dependencies package
  tags: ["cjdns"]
  apt:
    name: '{{item}}'
  with_items:
    - nodejs
    - git
    - build-essential
    - python2.7
    - ca-certificates

- name: Pull cjdns repo
  tags: ["cjdns"]
  git:
    repo: 'https://github.com/cjdelisle/cjdns/'
    dest: /home/cjdns/cjdns-repo
    version: cjdns-v20.3

- name: Build cjdns
  tags: ["cjdns-build"]
  become: true
  shell: ./do >> build-with-ansible.log
  args:
    chdir: /home/cjdns/cjdns-repo

- name: Copy executable to bin executable
  tags: ["cjdns"]
  copy:
    src: /home/cjdns/cjdns-repo/cjdroute
    remote_src: true
    dest: /usr/bin/cjdroute
    owner: root
    group: root
    mode: 0700

- name: Add cjdns service to systemd
  tags: ["cjdns", "cjdns-service"]
  copy:
    src=/home/cjdns/cjdns-repo/contrib/systemd/cjdns.service
    dest=/etc/systemd/system/cjdns.service
    remote_src=yes
  register: "_cjdns_service_file"
  notify: ["restart cjdns"]

- name: Add cjdns-resume service to systemd
  tags: ["cjdns", "cjdns-service"]
  copy:
    src=/home/cjdns/cjdns-repo/contrib/systemd/cjdns-resume.service
    dest=/etc/systemd/system/cjdns-resume.service
    remote_src=yes
  register: "_cjdns_service_file"
  notify: ["restart cjdns"]

- name: "Ensure existance of cjdns group"
  become: true
  group:
    name: "{{ cjdns_group }}"
    state: present
  tags: ["cjdns"]
  notify: ["restart cjdns"]

- name: "Ensure existance of cjdns user"
  become: true
  user:
    name: "{{ cjdns_user }}"
    group: "{{ cjdns_group }}"
    system: yes
  tags: ["cjdns"]
  notify: ["restart cjdns"]

- name: "Configure cjdns"
  become: true
  template:
    src: "cjdroute.conf.j2"
    dest: "/etc/cjdroute.conf"
    backup: "yes"
    owner: "{{ cjdns_user }}"
    group: "{{ cjdns_group }}"
    mode: "0640"
  tags: ["cjdns", "cjdns-configure"]
  notify: ["restart cjdns"]

- name: "Manage cjdns service"
  become: true
  service:
    name: "{{ cjdns_service_name }}"
    state: "{{ cjdns_service_state }}"
    enabled: "{{ cjdns_service_enabled }}"
    daemon_reload: "{{ _cjdns_service_file.changed | ternary('yes', 'no') }}"
  tags: ["cjdns", "cjdns-service"]
