---
name: Molecule Test
on: [push]
with:
          credentials: ${{secrets.HCLOUD_TOKEN}}
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7]

    steps:
      - uses: actions/checkout@v2
        with:
          path: molecule_demo
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt install docker
          python3 -m pip install --upgrade pip
          ls
          python3 -m pip install -r molecule_demo/molecule_requirements.txt
      - name: Test with molecule
        run: |
          cd molecule_demo
          molecule test
